<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pagina Administrador</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('templates/bootstrap.ejs') %>
    <script src="/javascripts/admin.js"></script>
    <script src="https://kit.fontawesome.com/0364c5acb2.js" crossorigin="anonymous"></script>

</head>

<body>
  <nav class="navbar bg-body-tertiary bg-dark " data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="fa-solid fa-user"></i> Bienvenido <%= rol %>
          <%= user %>
      </a>
      <div style="float: right;">
        <i class="fa-solid fa-power-off" style="color: #ffffff;"></i>
        <a href="./users/logout" style="text-decoration: none;color: white;">Cerrar Sesion</a><br>
      </div>
    </div>
  </nav><BR>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 mt-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="./..//images/empleados_img.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Empleados</h5>
            <a href="/admin/" class="btn btn-primary">Gestionar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mt-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="./..//images/usuarios_img.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mi Usuario</h5>
            <a href="/admin/edit" class="btn btn-primary">Gestionar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mt-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="./..//images/nomina_img.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nomina</h5>
            <a href="#" class="btn btn-primary">Gestionar</a>
          </div>
        </div>
      </div>
    </div>
  </div>



</body>