<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gestionar Empleados</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('templates/bootstrap.ejs') %>
    <script defer src="/javascripts/home.js"></script>
    <script src="https://kit.fontawesome.com/0364c5acb2.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar bg-body-tertiary bg-dark " data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">

            </a>
            <a href="./" style="float: right;">Atras</a>

            <a href="./users/logout" style="float: right;">Cerrar sesion
            <i class="fa-solid fa-power-off" style="color: #ffffff;"></i></a>
        </div> 
    </nav><BR>

        <div class="containe">
            Hi, this is the page employee
        </div>
</body>
</html>