<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/error.css">
    <link rel="stylesheet" href="stylesheets/general.css">
    <!-- google fonts -->
    <% include('templates/googleFonts')%>
        <title>Error</title>
</head>

<body>
    <h1>
        <%= message %>
    </h1>
    <h2>
        <%= error.status %>
    </h2>
    <img src="images/error-robot.png" alt="Robot error image">
</body>

</html>