<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Usuario
    </title>
    <script defer src="/javascripts/home.js"></script>
</head>

<body>

    <h1>
        Registrar hora
    </h1>

    <h2>

    </h2>
    <form action="/users/asist" method="post">
        <button hidden id="buttonIn" class="button">Ingreso</button>
        <button hidden id="buttonOut" class="button">Salida</button>
    </form>
    <a href="/users/logout">Cerrar sesion</a>

</body>

</html>