<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('templates/bootstrap.ejs') %>
        <script defer src="/javascripts/home.js"></script>
</head>

<body>

    <h1>
        Registrar hora <%= user %>
    </h1>

    <h2>
        <%= rol %>
    </h2>
    <form action="users/asist" method="post">
        <button hidden id="buttonIn" name="entry" value="entry" class="button">Ingreso</button>
        <button hidden id="buttonOut" name="exit" value="entry" class="button">Salida</button>
    </form>
    <a href="./users/logout">Cerrar sesion</a>
    <table id="table" class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Entrada</th>
                <th scope="col">Salida</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody id="tbody" class="table-group-divider">
            <tr>
                <th scope="row">*</th>
                <td>exmple</td>
                <td>example</td>
                <td>example</td>
            </tr>

        </tbody>
    </table>

</html>