<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/general.css">
    <% include('templates/googleFonts')%>
        <!-- Styles for data tables -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
        <%- include('templates/bootstrap.ejs') %>
</head>

<body>

    <h1>
        Registrar hora <%= user %>
    </h1>

    <h2>
        <%= rol %>
    </h2>
    <form action="users/asist" method="post">
        <button id="buttonRegisterDate" name="entry" value="entry" class="button"></button>
    </form>
    <a href="/users/logout">Cerrar sesion</a>

    <table data-order='[[0, "desc"]]' id="tableAssist" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Entrada</th>
                <th scope="col">Salida</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody id="tbody" class="table-group-divider">

        </tbody>
        <tfoot>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Entrada</th>
                <th scope="col">Salida</th>
                <th scope="col">Fecha</th>
            </tr>
        </tfoot>
    </table>

    <!-- At first we have to call de jquert library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Then call de CDN data table library -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <!-- Finish, add the script that filter and add the features to data table -->
    <script src="/javascripts/featuresWorker.js"></script>

</html>